#calcContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.calcbutton{
    width: 40px;
    height: 40px;
    text-align: center;
}
#answerDisplay{
    width: 90%;
    height: 45px;
    font-size: 20px;
    text-align: right;
    border: 1px solid black;
    margin: 15px;
}